#history {
  max-width: 600px;
  margin: 0 auto 60px;
  font-family: "BIZ UDPゴシック", "Yu Gothic", Meiryo, "Helvetica Neue", Helvetica, "Noto Sans JP", sans-serif;
}

#history nav {
  text-align: center;
}

#historyArticle {
  margin: 30px 0 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #aaaaaa;
  font-size: 1rem;
}

#historyArticle table th:last-child {
  width: 100%;
}

#historyArticle table th:not(:last-child) {
  word-break: keep-all;
}

#historyArticle .table_newSong table th {
  width: 50%;
}

#historyArticle .table_replaceChart table th:nth-of-type(n+2) {
  width: 50%;
}
