.app.full {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-family: "BIZ UDPゴシック", "Yu Gothic", Meiryo, "Helvetica Neue", Helvetica, "Noto Sans JP", sans-serif;
  color: #222222;
  font-size: 1rem;
}

.app.full header {
  padding: 10px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.app.full section {
  text-align: center;
}

.app.full section p {
  line-height: 1.5em;
}

.app.full small {
  font-size: 0.85rem;
  text-align: center;
  line-height: 1.5em;
}

.app.full a {
  color: #222222;
}
