#histories {
  max-width: 600px;
  margin: 0px auto 60px;
  padding-top: 8px;
  font-family: "BIZ UDPゴシック", "Yu Gothic", Meiryo, "Helvetica Neue", Helvetica, "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
}

#histories header {
  margin: 20px 0 40px;
  text-align: center;
  font-size: 1.6rem;
}

#histories nav {
  text-align: center;
}

#histories article {
  margin-top: 60px;
}
