main#songs {
  max-width: 800px;
  margin: 0 auto 60px;
  font-family: "BIZ UDPゴシック", "Yu Gothic", Meiryo, "Helvetica Neue", Helvetica, "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
}

#songs header {
  margin: 20px;
  text-align: center;
  font-size: 1.6rem;
}

#songs nav {
  text-align: center;
}

#songs article {
  margin-top: 60px;
}

#songs article .song {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-block: 2em;
  align-items: baseline;
}

#songs article .song-title {
  font-size: 1.3em;
}

#songs article .song-delimiter {
  color: #888888;
}

#songs article .song-artist {
  font-size: 1em;
  color: #333333;
}
