main#songs {
  max-width: 800px;
  margin: 0 auto 60px;
  padding-top: 8px;
  font-family: "BIZ UDPゴシック", "Yu Gothic", Meiryo, "Helvetica Neue", Helvetica, "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
}

#songs header {
  margin: 20px;
  text-align: center;
  font-size: 1.6rem;
}

#songs nav {
  text-align: center;
}

#songs article {
  margin-top: 30px;
}

#songs article .song {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-block: 3em;
}

#songs article .song-titleAndArtist-link,
#songs article .song-titleAndArtist-nolink {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: baseline;
  color: inherit;
  text-decoration: none;
}

#songs article .song-titleAndArtist-link:hover {
  background-color: #F0F0F0;
}

#songs article .song-title {
  font-size: 1.3em;
}

#songs article .song-delimiter {
  color: #888888;
}

#songs article .song-artist {
  font-size: 1em;
  color: #333333;
}

#songs article .song-note {
  font-size: 0.9em;
  color: #6a6a6a;
  border-left: 2px solid #cccccc;
  padding-left: 4px;
}
