.bmsTable {
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  border: 1px solid #aaaaaa;
}

.bmsTable .header {
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
}

.bmsTable thead .header {
  font-size: 1rem;
  background-color: #666666;
}

.bmsTable tbody .header {
  background-color: #888888;
}

.bmsTable th {
  padding: 8px;
}

.bmsTable td {
  color: #333333;
  padding: 8px 6px;
  border: 1px solid #eeeeee;
  word-wrap: break-word;
}

.bmsTable td a {
  color: #333333;
}

.bmsTable thead .level {
  width: 22px;
}

.bmsTable thead .title {
  width: 40%;
}

.bmsTable thead .artist {
  width: 30%;
}

.bmsTable thead .lr2irLink,
.bmsTable thead .mochaLink {
  width: 60px;
}

.bmsTable .content .level {
  font-family: Impact, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
}

.bmsTable .content[data-difficulty="1"] .level {
  color: rgb(10, 153, 10);
}

.bmsTable .content[data-difficulty="2"] .level {
  color: rgb(0, 153, 255);
}

.bmsTable .content[data-difficulty="3"] .level {
  color: rgb(219, 152, 0);
}

.bmsTable .content[data-difficulty="4"] .level {
  color: red;
}

.bmsTable .content[data-difficulty="5"] .level {
  color: purple;
}

.bmsTable .content .lr2irLink,
.bmsTable .content .mochaLink {
  text-align: center;
}

.bmsTable .content:nth-child(odd) {
  background-color: #efefef;
}

.bmsTable .content:nth-child(even) {
  background-color: #ffffff;
}
