.bmsTable {
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  border: 1px solid #aaaaaa;
}

.bmsTable .header {
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
}

.bmsTable thead .header {
  font-size: 1rem;
  background-color: #666666;
}

.bmsTable tbody .header {
  background-color: #888888;
}

.bmsTable th {
  padding: 8px;
}

.bmsTable td {
  color: #333333;
  padding: 8px 6px;
  border: 1px solid #eeeeee;
}

.bmsTable td a {
  color: #333333;
}

.bmsTable thead .title {
  width: 40%;
}

.bmsTable thead .artist {
  width: 30%;
}

.bmsTable thead .lr2irLink,
.bmsTable thead .mochaLink {
  width: 60px;
}

.bmsTable .content .lr2irLink,
.bmsTable .content .mochaLink {
  text-align: center;
}

.bmsTable .content:nth-child(odd) {
  background-color: #efefef;
}

.bmsTable .content:nth-child(even) {
  background-color: #ffffff;
}
